.register {
 background-image: linear-gradient(rgba(3, 2, 22, 0.477), rgba(3, 8, 54, 0.203)), url(../../assets/21.jpg);
 background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;

  .card {
    width: 70%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;

    .left {
      flex: 1;
      background: linear-gradient(rgba(10, 1, 27, 0.645), rgba(11, 1, 31, 0.766)), url("../../assets/20.jpg") center no-repeat; 
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: white;

      h1 {
        font-size: 40px;
        line-height: 45px;
      }

      p {
      }

      span {
        font-size: 14px;
      }

      button {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: white;
        color: rebeccapurple;
        font-weight: bold;
        cursor: pointer;
      }
    }

    .right {
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;

      h1 {
        color: #555;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;
          outline: transparent !important;
        }

        button {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: #938eef;
          color: white;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .register .card {
    flex-direction: row-reverse;

    .left {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: white;

      h1 {
        font-size: 50px;
        line-height: 55px;
      }

      button {
        width: 30%;
      }
    }

    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;

      h1 {
        font-size: 50px;
        line-height: 55px;
      }

      form {
        gap: 50px;

        button {
          width: 30%;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .register .card {
    max-width: 1200px;
  }
}
